/* search/other page styles */

#chip-bar,
div.yt-tab-group-shape-wiz__slider,
ytd-browse[page-subtype="hashtag-landing-page"],
ytd-browse[page-subtype="audio-pivot"],
ytd-reel-shelf-renderer,
ytd-rich-shelf-renderer,
yt-tab-shape[tab-title="Shorts"] {
    display: none !important;
}

.yt-tab-shape-wiz[aria-selected="true"] .yt-tab-shape-wiz__tab-bar {
    background-color: #f1f1f1 !important;
    border-radius: 1px;
    height: 2px !important;
}

/* watch/shorts page styles */

/* #author-thumbnail, */
#related,
#pivot-button,
.html5-endscreen,
.ytp-ce-video,
.ytp-ce-playlist {
    display: none !important;
}

/* home page styles */

.focus-tube-home #contents,
.focus-tube-home #chips-content,
.focus-tube-home #search-button-narrow.ytd-masthead,
.focus-tube-home div#home-container-skeleton,
ytd-mini-guide-entry-renderer[aria-label="Shorts"],
ytd-guide-section-renderer:first-child ytd-guide-entry-renderer:nth-child(2),
ytd-guide-section-renderer:nth-child(2)
    ytd-guide-collapsible-entry-renderer
    ytd-guide-entry-renderer:last-child,
ytd-guide-section-renderer:nth-child(3),
ytd-guide-section-renderer:nth-child(4) {
    display: none !important;
}

yt-searchbox:has(.ytSearchboxComponentInput:placeholder-shown)
    .ytSearchboxComponentSuggestionsContainer {
    display: none !important;
}

/* search customization styles */

/* .focus-tube-home div#center {
  position: fixed;
  top: 25vh;
  left: 30vw;
  height: 50px;
  width: 40vw;
}

.focus-tube-home ytd-searchbox#search,
.focus-tube-home form#search-form div#container {
  margin: 0px !important;
  display: flex !important;
}

.focus-tube-home form#search-form,
.focus-tube-home button#search-icon-legacy {
  height: 50px !important;
}

.focus-tube-home ytd-topbar-logo-renderer#logo {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

@media (width <= 1200px) {
  .focus-tube-home div#center {
    left: 25vw;
    width: 50vw;
  }
}

@media (width <= 900px) {
  .focus-tube-home div#center {
    left: 20vw;
    width: 60vw;
  }
}

@media (width <= 700px) {
  .focus-tube-home div#center {
    left: 10vw;
    width: 80vw;
  }
  .focus-tube-home ytd-topbar-logo-renderer#logo {
    position: initial;
    top: unset;
    left: unset;
    transform: unset;
  }
}

@media (width <= 500px) {
  .focus-tube-home #voice-search-button.ytd-masthead {
    display: none !important;
  }
} */
